body {
  margin: 0;
  font-family: 'Ibarra Real Nova', serif; /* Cambia la fuente a Ibarra Real Nova */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Ibarra Real Nova', serif; /* Aplicar también a los elementos <code> */
}
